
#_1
{
    width:1133px;
	height:2152px;
	left:null;
	top:null;
	opacity:1;
	margin-left:auto;
	margin-top:0px;
	margin-right:auto;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	background-image:url('null');
	background-repeat:repeat;
	background-size:contain;
	overflow:visible;
	position:relative;
	
}

#_2
{
    width:1131px;
	height:48px;
	left:1px;
	top:-3px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:#ccc;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-ms-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-ms-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-ms-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-top-right-radius:4px;
	-ms-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	overflow:visible;
	
}

#_3
{
    width:1050px;
	height:47px;
	left:10px;
	top:30px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:visible;
	line-height:22px;
	
}

#_4
{
    text-align:left;
	left:0px;
	width:1050px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:-4px;
	
}

#_5
{
    width:25px;
	height:25px;
	left:1047px;
	top:11px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_6
{
    width:1133px;
	height:335px;
	left:0px;
	top:48px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	line-height:335px;
	font-size:333px;
	font-family:NinjamockBasic2;
	font-style:normal;
	text-align:center;
	color:rgba(104,104,104,1);
	
}

#_7
{
    width:182px;
	height:40px;
	left:112px;
	top:184px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:46px;
	color:#515151;
	overflow:visible;
	line-height:46px;
	white-space:nowrap;
	
}

#_8
{
    text-align:left;
	left:0px;
	width:182px;
	margin:0px;
	font-size:46px;
	line-height:46px;
	top:-7px;
	
}

#_9
{
    width:208px;
	height:35px;
	left:127px;
	top:251px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:40px;
	color:#515151;
	overflow:visible;
	line-height:40px;
	white-space:nowrap;
	
}

#_10
{
    text-align:left;
	left:0px;
	width:208px;
	margin:0px;
	font-size:40px;
	line-height:40px;
	top:-6px;
	
}

#_11
{
    width:1133px;
	height:366px;
	left:0px;
	top:383px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:#ccc;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-ms-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-ms-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-ms-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-top-right-radius:4px;
	-ms-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	overflow:visible;
	
}

#_12
{
    width:1052px;
	height:47px;
	left:10px;
	top:30px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:visible;
	line-height:22px;
	
}

#_13
{
    text-align:left;
	left:0px;
	width:1052px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:-4px;
	
}

#_14
{
    width:90px;
	height:29px;
	left:459px;
	top:30px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:34px;
	color:#515151;
	overflow:visible;
	line-height:34px;
	white-space:nowrap;
	
}

#_15
{
    text-align:left;
	left:0px;
	width:90px;
	margin:0px;
	font-size:34px;
	line-height:34px;
	top:-6px;
	
}

#_16
{
    width:359px;
	height:245px;
	left:100px;
	top:72px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	line-height:245px;
	font-size:243px;
	font-family:NinjamockBasic2;
	font-style:normal;
	text-align:center;
	color:rgba(104,104,104,1);
	
}

#_17
{
    width:490px;
	height:240px;
	left:504px;
	top:86px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	line-height:24px;
	
}

#_18
{
    text-align:left;
	left:0px;
	width:490px;
	margin:0px;
	font-size:22px;
	line-height:24px;
	top:-5px;
	
}

#_19
{
    width:90px;
	height:29px;
	left:436px;
	top:777px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:34px;
	color:#515151;
	overflow:visible;
	line-height:34px;
	white-space:nowrap;
	
}

#_20
{
    text-align:left;
	left:0px;
	width:90px;
	margin:0px;
	font-size:34px;
	line-height:34px;
	top:-6px;
	
}

#_21
{
    width:173px;
	height:68px;
	left:87px;
	top:839px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	line-height:68px;
	font-size:66px;
	font-family:NinjamockBasic2;
	font-style:normal;
	text-align:center;
	color:rgba(104,104,104,1);
	
}

#_22
{
    width:219px;
	height:107px;
	left:83px;
	top:832px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_23
{
    width:null;
	height:null;
	left:-1340px;
	top:-760px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_24
{
    width:220px;
	height:154px;
	left:82px;
	top:938px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_25
{
    width:173px;
	height:68px;
	left:364px;
	top:846px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	line-height:68px;
	font-size:66px;
	font-family:NinjamockBasic2;
	font-style:normal;
	text-align:center;
	color:rgba(104,104,104,1);
	
}

#_26
{
    width:219px;
	height:107px;
	left:360px;
	top:839px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_27
{
    width:220px;
	height:154px;
	left:359px;
	top:945px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_28
{
    width:219px;
	height:107px;
	left:618px;
	top:839px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_29
{
    width:220px;
	height:154px;
	left:617px;
	top:945px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_30
{
    width:null;
	height:null;
	left:-1340px;
	top:-760px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_31
{
    width:null;
	height:null;
	left:-1340px;
	top:-760px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_32
{
    width:99px;
	height:60px;
	left:670px;
	top:865px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	line-height:60px;
	font-size:58px;
	font-family:NinjamockBasic2;
	font-style:normal;
	text-align:center;
	color:rgba(104,104,104,1);
	
}

#_33
{
    width:219px;
	height:107px;
	left:869px;
	top:839px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_34
{
    width:220px;
	height:154px;
	left:868px;
	top:945px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_35
{
    width:99px;
	height:60px;
	left:921px;
	top:865px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	line-height:60px;
	font-size:58px;
	font-family:NinjamockBasic2;
	font-style:normal;
	text-align:center;
	color:rgba(104,104,104,1);
	
}

#_36
{
    width:90px;
	height:29px;
	left:147px;
	top:964px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:34px;
	color:#515151;
	overflow:visible;
	line-height:34px;
	white-space:nowrap;
	
}

#_37
{
    text-align:left;
	left:0px;
	width:90px;
	margin:0px;
	font-size:34px;
	line-height:34px;
	top:-6px;
	
}

#_38
{
    width:168px;
	height:72px;
	left:108px;
	top:1005px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	line-height:24px;
	
}

#_39
{
    text-align:left;
	left:0px;
	width:168px;
	margin:0px;
	font-size:22px;
	line-height:24px;
	top:-5px;
	
}

#_40
{
    width:93px;
	height:29px;
	left:423px;
	top:974px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:34px;
	color:#515151;
	overflow:visible;
	line-height:34px;
	white-space:nowrap;
	
}

#_41
{
    text-align:left;
	left:0px;
	width:93px;
	margin:0px;
	font-size:34px;
	line-height:34px;
	top:-6px;
	
}

#_42
{
    width:168px;
	height:72px;
	left:385px;
	top:1005px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	line-height:24px;
	
}

#_43
{
    text-align:left;
	left:0px;
	width:168px;
	margin:0px;
	font-size:22px;
	line-height:24px;
	top:-5px;
	
}

#_44
{
    width:93px;
	height:29px;
	left:932px;
	top:971px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:34px;
	color:#515151;
	overflow:visible;
	line-height:34px;
	white-space:nowrap;
	
}

#_45
{
    text-align:left;
	left:0px;
	width:93px;
	margin:0px;
	font-size:34px;
	line-height:34px;
	top:-6px;
	
}

#_46
{
    width:168px;
	height:72px;
	left:894px;
	top:1002px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	line-height:24px;
	
}

#_47
{
    text-align:left;
	left:0px;
	width:168px;
	margin:0px;
	font-size:22px;
	line-height:24px;
	top:-5px;
	
}

#_48
{
    width:93px;
	height:29px;
	left:674px;
	top:959px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:34px;
	color:#515151;
	overflow:visible;
	line-height:34px;
	white-space:nowrap;
	
}

#_49
{
    text-align:left;
	left:0px;
	width:93px;
	margin:0px;
	font-size:34px;
	line-height:34px;
	top:-6px;
	
}

#_50
{
    width:168px;
	height:72px;
	left:635px;
	top:1000px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	line-height:24px;
	
}

#_51
{
    text-align:left;
	left:0px;
	width:168px;
	margin:0px;
	font-size:22px;
	line-height:24px;
	top:-5px;
	
}

#_52
{
    width:null;
	height:null;
	left:-1340px;
	top:-760px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_53
{
    width:null;
	height:null;
	left:-1340px;
	top:-760px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_54
{
    width:null;
	height:null;
	left:-1340px;
	top:-760px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_55
{
    width:1132px;
	height:338px;
	left:0px;
	top:1143px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:rgba(127,176,201,1);
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_56
{
    width:510px;
	height:338px;
	left:294px;
	top:1143px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	line-height:338px;
	font-size:336px;
	font-family:NinjamockBasic2;
	font-style:normal;
	text-align:center;
	color:rgba(104,104,104,1);
	
}

#_57
{
    width:610px;
	height:425px;
	left:522px;
	top:1481px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:rgba(232,232,232,1);
	border-color:rgba(81,81,81,1);
	border-style:solid;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	
}

#_58
{
    left:0px;
	top:0px;
	width:600px;
	height:393px;
	transform:scale(1.0166666666666666,1.0814249363867685);
	-webkit-transform:scale(1.0166666666666666,1.0814249363867685);
	-moz-transform:scale(1.0166666666666666,1.0814249363867685);
	-ms-transform:scale(1.0166666666666666,1.0814249363867685);
	-o-transform:scale(1.0166666666666666,1.0814249363867685);
	transform-origin:0 0;
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	
}

#_67
{
    width:420px;
	height:30px;
	left:33px;
	top:1557px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-ms-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-ms-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-ms-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-top-right-radius:4px;
	-ms-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	overflow:hidden;
	background:#fff;
	border-color:#686868;
	border-style:solid;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	line-height:30px;
	
}

#_68
{
    width:420px;
	height:30px;
	left:33px;
	top:1615px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-ms-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-ms-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-ms-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-top-right-radius:4px;
	-ms-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	overflow:hidden;
	background:#fff;
	border-color:#686868;
	border-style:solid;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	line-height:30px;
	
}

#_69
{
    width:420px;
	height:175px;
	left:33px;
	top:1680px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-ms-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-ms-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-ms-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-top-right-radius:4px;
	-ms-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	overflow:visible;
	background:#fff;
	border-color:#686868;
	border-style:solid;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	line-height:24px;
	
}

#_70
{
    width:81px;
	height:29px;
	left:163px;
	top:2092px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:34px;
	color:#515151;
	overflow:visible;
	line-height:34px;
	white-space:nowrap;
	
}

#_71
{
    text-align:left;
	left:0px;
	width:81px;
	margin:0px;
	font-size:34px;
	line-height:34px;
	top:-6px;
	
}

#_72
{
    width:254px;
	height:29px;
	left:774px;
	top:2092px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:34px;
	color:#515151;
	overflow:visible;
	line-height:34px;
	white-space:nowrap;
	
}

#_73
{
    text-align:left;
	left:0px;
	width:254px;
	margin:0px;
	font-size:34px;
	line-height:34px;
	top:-6px;
	
}

#_74
{
    width:123px;
	height:45px;
	left:481px;
	top:2083px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_75
{
    width:40px;
	height:40px;
	left:0px;
	top:3px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	
}

#_76
{
    width:69px;
	height:45px;
	left:54px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:46px;
	color:#515151;
	overflow:visible;
	line-height:46px;
	white-space:nowrap;
	
}

#_77
{
    text-align:center;
	left:0px;
	width:69px;
	margin:0px;
	font-size:46px;
	line-height:46px;
	top:-4px;
	
}

svg:not(:root)
{
    overflow:visible;
	
}

.nm-label
{
    margin:0;
	
}

ol.nm-label *, ul.nm-label *
{
    position:static;
	
}

.nm-label p
{
    margin-bottom:0;
	
}

ul, ol
{
    padding:0;
	
}

ol > li > ol
{
    margin-left:8px;
	
}

ul > li > ul
{
    margin-left:8px;
	
}

ol.nm-label, ol.nm-label ol
{
    counter-reset:item;
	
}

ol.nm-label li:not(.skip):before
{
    content:counters(item, ".") " ";
	counter-increment:item;
	
}

ol.nm-label li.skip:before
{
    content:"\a0";
	
}

ul.nm-label
{
    padding-left:20px;
	
}

ul.nm-label, ul.nm-label ul
{
    list-style-type:disc;
	
}

ul.nm-label li
{
    display:list-item;
	
}

ul.nm-label li.skip
{
    display:block;
	
}

ul.nm-label li.skip:before
{
    content:"\a0";
	
}

.placeholder
{
    border:1px solid #5C5C5E;
	
}

.placeholder:before, .placeholder:after
{
    content:" ";
	width:1px;
	background:yellow;
	display:block;
	transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	-o-transform-origin:0 0 0;
	-moz-transform-origin:0 0 0;
	-ms-transform-origin:0 0 0;
	position:absolute;
	left:-1px;
	top:0;
	background-color:#5C5C5E;
	
}

.placeholder:after
{
    left:100%;
	
}

#_75:before
{
    transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	height:66.5685424949238;
	
}

#_75:after
{
    transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	height:66.5685424949238;
	
}

#_59
{
    left:-13px;
	top:-7px;
	width:618px;
	height:404px;
	
}

#_60
{
    width:618px;
	height:404px;
	left:-13px;
	top:-7px;
	fill:rgba(255,255,255,1);
	stroke:rgba(81,81,81,1);
	stroke-width:1;
	
}

#_61
{
    left:496px;
	top:-3px;
	width:71px;
	height:108px;
	
}

#_62
{
    width:71px;
	height:108px;
	left:496px;
	top:-3px;
	fill:rgba(255,255,255,1);
	stroke:rgba(81,81,81,1);
	stroke-width:1;
	
}

#_63
{
    left:-10px;
	top:-3px;
	width:328px;
	height:317px;
	
}

#_64
{
    width:328px;
	height:317px;
	left:-10px;
	top:-3px;
	fill:rgba(104,104,104,1);
	stroke:rgba(81,81,81,1);
	stroke-width:1;
	
}

#_65
{
    left:440px;
	top:139px;
	width:122px;
	height:81px;
	
}

#_66
{
    width:122px;
	height:81px;
	left:440px;
	top:139px;
	fill:rgba(232,232,232,1);
	stroke:rgba(81,81,81,1);
	stroke-width:1;
	
}
